.code-line {
  margin: 0.2em 0;
}

.code-line-text {
  color: #000000;
  font-family: monospace;
  background: #ffffff66;
  border-radius: 1em;
  padding: 0.4em 1em;
  overflow-wrap: break-word;
  display: block;
  min-height: 1.2em;
}

.code-line-text:hover {
  background: #ffffff;
}

.active {
  font-weight: bold;
  background: orange;
  padding: 0.2em;
  border-radius: inherit;
}
