/* You can add global styles to this file, and also import other style files */
@import "app/components/code-line/code-line.component.css";
@import "app/app.component.css";
@import "app/components/common/check-box/check-box.component.css";
@import "app/components/common/sort/sort.component.css";

body {
  background: #d8d8d8;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1em;
  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000044;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000088;
  cursor: pointer;
}
